[app]
    env                          = "default"
    gitCommitHash                = "nil"
    logLevel                     = "info"
    metricsPort                  = 8002
    # gui & twirp app need to be on same port for now, check frontend README for more details
    # guiPort                      = 8000
    port                         = 8000
    serviceExternalHostname      = "localhost:8080"
    serviceHostname              = "$$internalHost"
    serviceName                  = "trino-gateway"
    shutdownDelay                = 2
    shutdownTimeout              = 5

[db]
    [db.ConnectionConfig]
        dialect               = "mysql"
        protocol              = "tcp"
        url                   = "localhost"
        port                  = 33306
        username              = "root"
        password              = "root123"
        sslMode               = "require"
        name                  = "trino-gateway"
    [db.ConnectionPoolConfig]
        maxOpenConnections    = 5
        maxIdleConnections    = 5
        connectionMaxLifetime = 0

[auth]
    token                        = "test123"
    tokenHeaderKey               = "X-Auth-Key"
    [auth.router.delegatedAuth]
        validationProviderURL            = "localhost:28001"
        validationProviderToken          = "test123"
        cacheTTLMinutes          = "10m"




[gateway]
    ports                 = [8080, 8081]
    defaultRoutingGroup   = "adhoc"
    # empty will mean 0.0.0.0 which is required only if running inside docker container, set to `localhost` otherwise
    network               = ""

[monitor]
    interval              = "10m"
    statsValiditySecs     = 0
    healthCheckSql        = "SELECT 1"
    [monitor.trino]
        user              = "trino-gateway"
        password          = ""

[trinoRest]
    appEnv              = "default"
    serviceName         = "trino-rest"
    hostname            = "localhost"
    port                = 8000
    metricsPort         = 8080
    shutdownTimeout     = 2
    shutdownDelay       = 2
    maxRecords          = 5000
    isAuthDelegated     = false
    [trinoRest.trinoBackendDb]
        dialect             = "trino"
        protocol            = "tcp"
        url                 = "localhost"
        port                = 8080
        username            = "user"
        password            = "user"
        catalog             = "default"
        schema              = "public"
        DSN                 = "http://user@localhost:8080?catalog=default&schema=public"
